# Usual system / hidden files
.*

# Node modules
node_modules

# Exclude out weights
raven/
models/
*.bin

# Include back gitignore
!.gitignore

# Skip build files within the rust-binding folder
rust-binding/
rust-*/